<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/style.css">
  <title>Booleando</title>
</head>
<body>
  
<header>
  <div class="header-fixed d-flex">

    <div class="container">
      <div class="menu d-flex">
        
        <nav class="categories">
  
          <ul>
            <li><a href="#">Donna</a></li>
            <li><a href="#">Uomo</a></li>
            <li><a href="#">Bambino</a></li>
          </ul>
  
        </nav>
        
        <div class="logo">
          <img src="img/boolean-logo.png" alt="logo" title="booleando">
        </div>
  
        <nav class="icons d-flex">
  
          <ul>
            <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
            <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
            <li><a href="#"> <i class="fa-solid fa-bag-shopping"></i> </a></li>
          </ul>
  
        </nav>
  
      </div>
    </div>

  </div>
</header>

<main>

  <div class="container d-flex">

    <div class="card dsc-stb">

      <div class="std-img">

        <img src="img/1.webp" alt="1">

        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>
      
      <div class="hover-img">

        <img src="img/1b.webp" alt="1b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>
    <div class="card dsc">

      <div class="std-img">
        <img src="img/2.webp" alt="2">
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>

      <div class="hover-img">

        <img src="img/2b.webp" alt="2b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>


    <div class="card dsc">

      <div class="std-img">
        <img src="img/3.webp" alt="3">
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>

      <div class="hover-img">

        <img src="img/3b.webp" alt="3b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>

    <div class="card dsc-stb">

      <div class="std-img">
        <img src="img/4.webp" alt="4">
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>

      <div class="hover-img">

        <img src="img/4b.webp" alt="4b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>


    <div class="card">

      <div class="std-img">
        <img src="img/5.webp" alt="5">
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>

      <div class="hover-img">

        <img src="img/5b.webp" alt="5b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>
    <div class="card stb">

      <div class="std-img">
        <img src="img/6.webp" alt="6">
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>

      </div>

      <div class="hover-img">

        <img src="img/6b.webp" alt="6b">
        
        <div class="favourite d-flex">
          <i class="fa-regular fa-heart"></i>
        </div>
       
        <div class="box">
          <span class="dsc">-50%</span>
          <span class="stb">Sostenibilità</span>
        </div>
      </div>

      <div class="details">
        <div class="brand">Levi's</div>
        <div class="description">relaxed fit tee unisex</div>
        <span class="price dsc">14,99</span>
        <span class="price">29,99</span>
      </div>


    </div>

  </div>

</main>


<footer>

  <div class="container d-flex">
    <div class="info">
      <div class="company">Booleando s.r.l.</div>
      
      <nav>
        <ul>
          <li><a href="#">Informazioni Legali</a></li>
          <li><a href="#">Informazioni sulla Privacy</a></li>
          <li><a href="#">Diritto di recesso</a></li>
        </ul>
      </nav>

    </div>

    <div class="menu">
      <div class="cta">Trovaci anche su</div>

      <nav>
        <ul>
          <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-pinterest"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-square-youtube"></i></a></li>
        </ul>

      </nav>

    </div>
  </div>

</footer>

</body>
</html>